p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: 2px solid rgba(25, 26, 25, 0.658);
    padding: 50px 20px;
    text-align: center;
    color: black;
}

h1{
    color: rgb(24, 35, 37);
}